#section1 {
width: 100vw;
height: 200px;
position: relative;
  background-color: orange;
 

}
#logo{
 position: absolute;
 vertical-align: middle;

}
#MainName {
  position: absolute;
    top: 50px;
    left: 35vw;
    
  }
#ContactElm{
 
  position: absolute;
  vertical-align: bottom;
  right: 0;
  top: 150PX;
  }
  #HomeText
    text-decoration-style: none
  
  }

}
#WebsitePody{
  position: absolute;
  width: 100vw;
  height: 80hw;
  margin: 10;


 
  

}
#SectionSide{
  height: 1330px;
 width: 200px;
float: left;
  background-color: rgb(223, 149, 13)

}

#SectionInterface{

 position: relative;
  left: 200px;
margin: 10px;
 width: 75vw;
 background-image: url("https://cdn.wallpapersafari.com/1/13/p2ehaF.jpg");

}
#WelcomePic{
  position: relative;
width: fit-content;

}
footer{
  background-color: skyblue
}

